{
  "hiddenStats": {
	"id": true,
    "name": true,
    "team": true,
    "region": true,
    "xpPerDay": true,
    "startDate": true,
    "lastUpdated": true,
    "trainerImage": true,
    "discordImage": true,
    "kanto": true,
    "johto": true,
    "hoenn": true,
    "badges": true,
    "trainerCode": true,
    "servers": true,
    "blockedServers": true
  }, 
  "xp": {
    "label": "Experience"
  },
  "maxedMon": {
    "label": "Maxed Pokemon"
  },
  "_100s": {
    "label": "Total 100%"
  },
  "unique100s": {
    "label": "Unique 100%"
  },
  "_3000": {
    "label": "3000+ CP"
  },
  "jogger": {
    "label": "Jogger"
  },
  "collector": {
    "label": "Collector"
  },
  "scientist": {
    "label": "Scientist"
  },
  "breeder": {
    "label": "Breeder"
  },
  "backpacker": {
    "label": "Backpacker"
  },
  "battleGirl": {
    "label": "Battle Girl"
  },
  "battleLegend": {
    "label": "Battle Legend"
  },
  "champion": {
    "label": "Champion"
  },
  "youngster": {
    "label": "Youngster"
  },
  "berryMaster": {
    "label": "Berry Master"
  },
  "gymLeader": {
    "label": "Gym Leader"
  },
  "fisherman": {
    "label": "Fisherman"
  },
  "aceTrainer": {
    "label": "Ace Trainer"
  },
  "pikachuFan": {
    "label": "Pikachu Fan"
  },
  "unown": {
    "label": "Unown"
  },
  "pokemonRanger": {
    "label": "Pokemon Ranger"
  },
  "shiny": {
    "label": "Total Shinies"
  },
  "uniqueShinies": {
    "label": "Unique Shinies"
  },
  "lucky": {
    "label": "Lucky"
  },
  "uniqueLucky": {
    "label": "Unique Lucky"
  },
  "normal": {
    "label": "Normal"
  },
  "fighting": {
    "label": "Fighting"
  },
  "flying": {
    "label": "Flying"
  },
  "poison": {
    "label": "Poison"
  },
  "ground": {
    "label": "Ground"
  },
  "rock": {
    "label": "Rock"
  },
  "bug": {
    "label": "Bug"
  },
  "ghost": {
    "label": "Ghost"
  },
  "steel": {
    "label": "Steel"
  },
  "fire": {
    "label": "Fire"
  },
  "water": {
    "label": "Water"
  },
  "grass": {
    "label": "Grass"
  },
  "electric": {
    "label": "Electric"
  },
  "psychic": {
    "label": "Psychic"
  },
  "ice": {
    "label": "Ice"
  },
  "dragon": {
    "label": "Dragon"
  },
  "dark": {
    "label": "Dark"
  },
  "fairy": {
    "label": "Fairy"
  },
  "goldGym": {
    "label": "Gold Gyms"
  },
  "silverGym": {
    "label": "Silver Gyms"
  },
  "bronzeGym": {
    "label": "Bronze Gyms"
  },
  "noBadge": {
    "label": "No Badge Gyms"
  },
  "totalGyms": {
    "label": "Total Gyms"
  },
  "gentleman": {
    "label": "Gentleman"
  },
  "pilot": {
    "label": "Pilot"
  },
  "idol": {
    "label": "Idol"
  },
  "stardust": "Stardust"
}