body {/*border:1px solid white; */
	width:1300px; 
	font-family:monospace; 
	font-weight:bold;
	background:#211 url('../resources/images/alolan2018.jpg') no-repeat; 
	background-size:contain; /* cover, covers whole box, contain ensures whole image is displayed (should be bound by width here) */
}
header {color:white; font-family:arial; font-size:2.5em;padding: 10px 25px;}
header img {height:100px;}
.list {
	position:relative; width:200px; float:left; 
	margin: 20px 0px 0px 20px; padding:15px;  
	background-color:#fafafa; /*background: radial-gradient(circle at top right, black, #111, #111, black);*/
	border-left: 1px solid lightgray; border-top:1px solid #333; border-bottom: 1px solid lightgray;
	border-radius: 15px; 
    box-shadow: 5px 10px 15px;	
	color:#333;
	overflow:hidden;
}	
h4 {margin-left:10px; margin-bottom: 5px; font-size:1.2em;} /*list header*/
ol {margin-left:0; padding-left:20px;}
li {margin:0px 0px 0px;position:relative;}
li.first {list-style-image: url("http://icons.iconarchive.com/icons/google/noto-emoji-activities/16/52727-1st-place-medal-icon.png")}
li.second {list-style-image: url("http://icons.iconarchive.com/icons/google/noto-emoji-activities/16/52728-2nd-place-medal-icon.png")}
li.third {list-style-image: url("http://icons.iconarchive.com/icons/google/noto-emoji-activities/16/52729-3rd-place-medal-icon.png")}
li.up {background: url("https://upload.wikimedia.org/wikipedia/commons/8/8b/Green_Arrow_Up_Darker.svg") no-repeat right; background-size: 12px 12px;}
li.down {background: url("https://upload.wikimedia.org/wikipedia/commons/0/04/Red_Arrow_Down.svg") no-repeat right; background-size: 12px 12px;}
li span.stat {display:inline-block; position:absolute; bottom:0; right:0; vertical-align:bottom; font-size:.8em; color:#333;}
.icon {position:absolute; max-width:72px; height:auto; top:-10px; left:175px; opacity:.70}
.valor {color:#d33;}
.mystic {color:#68c;}
.instinct {color:#b8a800;}
.longName {font-size:.8em;}
.superLongName {font-size:.6em;}     